$bg-color: rgb(151, 10, 10);
.MuiAppBar-colorPrimary {
  background-color: $bg-color !important;
}
.gp-banner {
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  &-logo {
    border: 1px none red;
    padding: 0px;
    width: 300px;
    margin-right: 25px;
  }

  &-item {
    border: 1px none red !important;
    width: 10%;
    text-align: center !important;
    display: flex !important;
    //justify-content: space-between !important;
    font-weight: bold !important;
    font-size: 20px !important;
    color: white !important;
  }
  &-link{
    color: white;
    text-decoration: none;
    
  }
}
 
@media (max-width: 899px) {
  #logo- {
    &desk {
      background-color: ghostwhite;
      display: none;
    }
    &mobile {
      display: flex;
      justify-content: center;
      width: 50%;
      margin-right: calc(25% - 25px);
      //width: calc(100% - 52px);
    }
  }
}
@media (min-width: 900px) {
  #logo- {
    &desk {
      display: flex;
      justify-content: center;
    }
    &mobile {
      display: none;
    }
  }
}
