$bg-color: #970a0a;
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{
    color: $bg-color !important;
}
.css-1vhaqj4-MuiButtonBase-root-MuiButton-root{
    background-color: $bg-color !important;
    &:hover{
        background-color: red !important;
    }
}
.css-wpssva-MuiTypography-root-MuiLink-root{
    color: $bg-color !important;
    text-decoration-color: $bg-color !important;
    &:hover{
        color: red !important;
        text-decoration-color: red !important;
    }
}
.css-1999axt-MuiAvatar-root{
    background-color: $bg-color !important;
}
.signUpLink, .forgotLink{
    color: $bg-color !important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $bg-color !important;
}
.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root{
    color: $bg-color !important;
}